#hamburger-nav {
  color: white;
  margin: 20px;
  position: fixed;
}

.container-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 100px;
  color: white;
}

.message {
  margin-top: 140px;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 40px;
}

.header {
  color: white;
}

.examples-container {
  margin: 20px;
  border: 5px solid white;
  height: 100%;
}


.container-one div, .container-two div, .container-three div {
  border: 1px solid white;
  height: 200px;
}

.container-one, .container-two, .container-three {
 display: flex;
}
.one-example-one {
  background-color: #d86060;
  flex: 1;
}
.one-example-two {
  background-color: #a569a5;
  flex: 1;
}
.one-example-three {
  background-color: lightgreen;
  flex: 1;
}

.two-example-one {
  background-color: #d86060;
  flex: 2;
}
.two-example-two {
  background-color: #a569a5;
  flex: 1;
}
.two-example-three {
  background-color: lightgreen;
  flex: 2;
}

.three-example-one {
  background-color: #d86060;
  flex: 1;
}
.three-example-two {
  background-color: #a569a5;
  flex: 4;
}
.three-example-three {
  background-color: lightgreen;
  flex: 1;
}