
.navbar {

}

.header {
  color: white;
}

.examples-container {
  margin: 20px;
  border: 5px solid white;
  height: 550px;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.message {
  font-family: 'Old Standard TT', serif;
  font-weight: lighter;
}

.container-one div {
  height: 200px;
  width: 200px;
}

.container-one {
 display: flex;
}
.one-example-one {
  background-color: #d86060;
}
.one-example-two {
  background-color: #a569a5;
}
.one-example-three {
  background-color: lightgreen;
}